<div class="box-shadow-white well">
    <fieldset>
        <legend>Pesquisar Clínica</legend>
        {% raw %}
        <form class="form-inline" ng-controller="indexClinicaCtrl">
            <div class="box" style="margin-bottom: 10px;">
                <h5>Filtros para pesquisa</h5>
                <input type="text" ng-model="search.no_clinica" class="input-xxlarge" placeholder="Nome da clínica">
                <button type="button" class="btn btn-primary" ng-click="pesquisar()"><li class="icon-search icon-white"></li>&nbsp;Pesquisar</button>
                <button type="button" class="btn btn-primary" ng-click="cadastrar()"><li class="icon-plus-sign icon-white"></li>&nbsp;Cadastrar Clínica</button>
            </div>

            <div class="clearfix">
                <div class="pull-right">
                    <ul>
                        <div class="input-prepend right">
                            <span class="add-on"><li class="icon-search"></li></span>
                            <input ng-model="query" placeholder="Pesquisa rápida" type="text">
                        </div>
                    </ul>
                </div>

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Nome da Clínica</th>
                        <th>CNPJ</th>
                        <th>Contato - Telefone</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="info" ng-show="list.length == 0">
                        <td colspan="10"><li class="icon-info-sign"></li>&nbsp;<strong>Não há retorno de registos</strong></td>
                    </tr>

                    <tr ng-repeat="item in list | filter:query">
                        <td>{{item.no_clinica}}</td>
                        <td>{{item.nu_cnpj}}</td>
                        <td>{{item.no_contato}} - {{item.nu_telefone}}</td>
                        <td class="span2">
                            <button type="button" class="btn" ng-click="editar(item.sq_clinica)"><li class="icon-edit"></li></button>
                            <button type="button" class="btn" ng-click="remover(item.sq_clinica, $index)"><li class="icon-remove-sign"></li></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
        {% endraw %}
    </fieldset>
</div>
<script type="text/javascript" src="{{ asset('bundles/orthosclinica/js/index.js') }}"></script>
